div {
    margin: auto;
    text-align: center;
}
div {
    padding: 2px;
}
#lingoVeld {
    margin-top: 120px;
}
input[type=text] {
    width: 50px;
    height: 50px;
    border: 1px PaleTurquoise;
    background-color: PaleTurquoise;
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 1.5em;
    color: red;
    border: 1px solid black;
    border-radius: 1px;
}
input[type=text].rightLocation{
    background-color: orange;
    color: white;
}
input[type=text].wrongLocation {
    background-image: url("/images/gelestip.png");
    background-repeat: no-repeat;
    background-position: center;
}