div {
    margin: auto;
    text-align: center;
}
div {
    padding: 2px;
}
#lingoVeld {
    margin-top: 120px;
}
input[type=text] {
    width: 50px;
    height: 50px;
    border: 1px PaleTurquoise;
    background-color: PaleTurquoise;
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 1.5em;
    color: red;
    border: 1px solid black;
    border-radius: 1px;
}
input[type=text].rightLocation{
    background-color: orange;
    color: white;
}
input[type=text].wrongLocation {
    background-image: url("/images/gelestip.png");
    background-repeat: no-repeat;
    background-position: center;
}
button {
    margin-left: 43%;
    margin-top: 15px;
    text-align: center;
    width: 14%;
    padding: 10px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: #008CBA;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}